pipeline/ppl_arquetipo_sqlserver_to_landing.json
{
	"name": "ppl_arquetipo_sqlserver_to_landing",
	"properties": {
		"activities": [
			{
				"name": "Lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureDatabricksDeltaLakeSource",
						"query": {
							"value": "@concat(\n    'SELECT * FROM lakehouse.auditoria.parametros WHERE proceso = ',\n    '''',\n    pipeline().parameters.prm_adb_proceso,\n    ''''\n)",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "dset_read_adb",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data SQL to Landing",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "@item().query_origen",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "ParquetWriteSettings"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "dset_read_sql_server",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dset_write_parquet",
									"type": "DatasetReference",
									"parameters": {
										"prm_container": {
											"value": "@pipeline().globalParameters.prm_global_container",
											"type": "Expression"
										},
										"prm_directory": {
											"value": "@concat(\n    '/landing/',\n    item().path_landing,\n    '/',\n    formatDateTime(utcNow(),'yyyy-MM-dd'),\n    '/',\n    formatDateTime(utcNow(),'HH')\n)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "ntb_arquetipo_landing_to_bronze",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "Copy data SQL to Landing",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Users/demokmpp@outlook.com/databricks-lakehouse/DML/lakehouse_demo/arquetipos/ntb_arq_landing_to_bronze",
								"baseParameters": {
									"path_landing": {
										"value": "@concat(\n    '/landing/',\n    item().path_landing,\n    '/',\n    formatDateTime(utcNow(),'yyyy-MM-dd'),\n    '/',\n    formatDateTime(utcNow(),'HH')\n)",
										"type": "Expression"
									},
									"tabla": {
										"value": "@item().tabla_bronze",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureDatabricks",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"prm_adb_proceso": {
				"type": "string"
			}
		},
		"folder": {
			"name": "Arquetipos"
		},
		"annotations": []
	}
}